.main {
  padding: 20px;
  background-color: #141414;
  color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #202020;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.cardDetails {
  padding: 10px;
}

.title {
  font-size: 1rem;
  margin: 10px 0;
  color: white;
}

.genre {
  font-size: 0.875rem;
  color: #ffffff;
}

.searchcontainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchinput {
  padding: 5px;
  font-size: 16px;
}
